.d-nav-container {
    max-width: 950px;
    height: 45px;
    background: linear-gradient(0.15turn, rgb(0, 66, 104) 0%,rgb(1, 96, 151) 15%, rgb(0, 112, 177) 32%, rgb(0, 69, 133) 37%, rgb(0, 118, 133) 95%);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 15px 15px;
    position: sticky;
    top: 0;
    z-index: 9;
}
.d-nav-container section {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.d-nav-container .item, .d-nav-container .last-item {
    height: 100%;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-size: 1rem;
}
.d-nav-container .last-item {
    border-radius: 0 0 15px 0;
}
.d-nav-container .item:hover, .d-nav-container .last-item:hover {
    font-size: 1.1rem;
    background-color: var(--primary-light);
}
